/* General reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body and layout */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


/* Navbar styling */

nav {
    background-color: #333;
    top: 0;
    width: 100%;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    justify-content: space-evenly;
}

.selectc {
    height: 35px;
    background-color: #ebe9e1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
}

.search-icon {
    height: 35px;
    width: 340px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}

ul li a:hover {
    color: #ffcc00;
}

section {
    padding: 50px;
    margin: 20px 0;
    background-color: #fff;
    text-align: center;
}

#div1 {
    border: 2px solid yellow;
    background-image: url(images\ \(31\).jpeg);
    background-size: cover;
    height: 400px;
    width: 700px;
    margin-left: 270px;
}

#man {
    display: flex;
    height: 65vh;
    width: 100vw;
    background-color: rgb(197, 186, 186);
    /* margin: 10px; */
}

#div2 {
    background-color: rgb(34, 196, 88);
    height: 60vh;
    width: 100%;
    margin: 10px;
    margin-left: 10px;
    border: 2px solid rgb(244, 76, 76);
}


/* #div2 img {
    margin-left: 25px;
    margin-top: 25px;
    border: 2px solid red;
    background-size: cover;
    width: 200px;
    height: 200px;
} */

#div3 {
    background-color: blue;
    height: 60vh;
    width: 23vw;
    margin: 10px;
    border: 2px solid white;
}

#div4 {
    background-color: rgb(212, 154, 45);
    height: 60vh;
    width: 23vw;
    margin: 10px;
    margin-right: 10px;
    border: 2px solid white;
}

#div5 {
    background-color: rgb(216, 24, 136);
    height: 60vh;
    width: 23vw;
    margin: 10px;
    margin-right: 10px;
    border: 2px solid white;
}

#man2 {
    display: flex;
    height: 65vh;
    width: 100vw;
    background-color: rgb(197, 186, 186);
}

#div22 {
    background-color: rgb(96, 173, 122);
    height: 60vh;
    width: 23vw;
    margin: 10px;
    margin-left: 10px;
    border: 2px solid white;
}

#div33 {
    background-color: rgb(5, 5, 22);
    border: 2px solid white;
    height: 60vh;
    width: 23vw;
    margin: 10px;
    border: 2px solid white;
}

#div44 {
    background-color: rgb(110, 19, 19);
    height: 60vh;
    width: 23vw;
    margin: 10px;
    margin-right: 10px;
    border: 2px solid white;
}

#div55 {
    background-color: rgb(228, 106, 177);
    height: 60vh;
    width: 23vw;
    margin: 10px;
    margin-right: 10px;
    border: 2px solid white;
}

#backupdiv {
    height: 50px;
    width: 100%;
    background-color: #333;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

#backupdiv a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#footerdiv {
    height: 230px;
    width: 101.3%;
    background-color: #1a1a1b;
}

#footerdiv h3 {
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 70px
}